{{{appheader}}}
    <div class="container">
        <div class="col-md-4">
            {{>facebooklogin}}
        </div>
        <div class="col-md-4">
            {{#erro}}
                <div class="alert alert-danger text-center col-md-12 col-md-offset-2" role="alert">
                    <strong>{{.}}</strong>
                </div>
            {{/erro}}
            <form action="login/entrar" method="POST" class="form-signin col-md-12 col-md-offset-2" role="form">
                <h2 class="form-signin-heading">Efetuar login</h2>
                <p>
                    <input type="email" name="usuario" class="form-control" placeholder="Email ou nome de usuário" value="{{vemail}}" required autofocus>
                </p>
                <p>
                    <input type="password" name="senha" class="form-control" placeholder="Senha" required>
                </p>
                <input type="hidden" name="redirect" value="{{vredirect}}">
                <!--div class="checkbox">
                  <label>
                    <input type="checkbox" value="remember-me"> Lembrar me
                  </label>
                </div-->
                <button class="btn btn-lg btn-primary btn-block" type="submit">Entrar</button>
            </form>
        </div>
        
        <div class="col-md-4">
            <form action="login/sendpassword" method="POST" class="form-signin col-md-12 col-md-offset-4" role="form">
                <h2 class="form-signin-heading">Esqueceu sua senha ?</h2>
                <p>
                    Informe seu email e a enviaremos para você novamente!
                </p>
                <p>
                    <input type="email" name="email" class="form-control" placeholder="Entre com o seu e-mail por favor" required autofocus>
                </p>
                {{#errors}}<span class="label label-danger">{{.}}</span><br>{{/errors}}
                <button class="btn btn-lg btn-primary btn-block" type="submit">Enviar Senha</button>
            </form>
        </div>
    </div>
{{{appfooter}}}
