{{#tabledata}}
<table class="table {{class}}">
    <caption>{{title}}</caption>
    <thead><tr>
    {{#thead}}
        <th>{{{.}}}</th>
    {{/thead}}
    </tr></thead>
    <tbody>
    {{#tbody}}
        <tr>
            {{#.}}<td>{{{.}}}</td>{{/.}}
        </tr>   
    {{/tbody}}
    </tbody>
</table>
<p>{{#tfoot}}<small>{{.}}</small>{{/tfoot}}</p>
{{/tabledata}}

<div class="btn-group">
    {{#buttons}}<a href="{{url}}" class="{{class}}">{{{label}}}</a>{{/buttons}}
</div>