{{#titulo}}<h2>{{{.}}}</h2>{{/titulo}}
{{#formerro}}<div class="alert alert-danger text-center" role="alert"><strong>{{.}}</strong></div>{{/formerro}}
{{#sucesso}}<div class="alert alert-success" role="alert"><strong>{{.}}</strong></div>{{/sucesso}}
{{#form}}
<form action="{{action}}" method="{{method}}" role="form" class="{{class}}" enctype="multipart/form-data">
    {{#hidden}}<input type="hidden" name="{{name}}" id="{{name}}" value="{{value}}">{{/hidden}}
    {{#formgroup}}
    <div class="form-group">
        {{#formitem}}
        <label for="{{id}}" class="control-label col-md-{{#sl}}{{.}}{{/sl}}{{^sl}}2{{/sl}}{{#required}} required{{/required}}">{{{label}}}</label>
        <div class="col-md-{{#sc}}{{.}}{{/sc}}{{^sc}}10{{/sc}}">
            {{{item}}} {{#error}}<span class="label label-danger">{{.}}</span>{{/error}}
        </div>
        {{/formitem}}
    </div>
    {{/formgroup}}
    <div class="text-center">
        <button type="submit" class="btn btn-primary">Salvar</button>
        {{#buttons}}<a href="{{url}}" class="{{class}}">{{{label}}}</a>{{/buttons}}
    </div>
</form>
{{/form}}
<p><label class="required">Campos obrigatórios</label></p>