<!-- facebook login -->
<h3 class="base">Entre com o Facebook</h3>
<div class="barra"></div><br>
<p>
    Já é cadastrado ou é novo por aqui?
    Entrar pelo Facebook é rápido e fácil.
</p>
<a href="facebook/login/" >
    <img src="image/icons/facebook_login_button4.png" alt="login com facebook">
</a>